<nav class="navbar bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#">
        <i class="fa-solid fa-id-card 3x" style="color: #020202;"></i>
        CONTACT MANAGEMENT SYSTEM
      </a>
      <div style="padding-right: '20px';">
        <a href="#" class="navbar-brand text-light" >Home</a>
        <a href="#" class="navbar-brand text-light" >Current Employees</a>
        <a href="#" class="navbar-brand text-light" >Profile</a>
        <a href="#" class="navbar-brand text-light" >Help</a>
        <button class="btn  bg-white"> <i class="fa-solid fa-user"></i> User</button>
      </div>
  
    </div>
  </nav>
